#tbl_compras{
    text-align: center;
    color: #000;
}
#tbl_compras :nth-child(5),#tbodyCompras :nth-child(5){
background: #dae6fb;
}

#tbl_compras :nth-child(3),#tbodyCompras :nth-child(3),
#tbl_compras :nth-child(4),#tbodyCompras :nth-child(4),
#tbl_compras :nth-child(6),#tbodyCompras :nth-child(6){
   width: 100px !important;
}
#tbodyCompras >tr> td> div>input{
    width: 95%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #b4b0b0;
    padding-left: 5px;
    text-align: center;
}
.modal-lg{
    max-width: none !important;
    width: 92%;
}
#tbl_showAsignaciones{
    background:#fff;
    border-radius: 10px;
}
#tbl_showAsignaciones tr td{
    padding: 5px !important;
}
#tbl_showAsignaciones tr td:nth-child(2){
    text-align: center;
    color: #000 !important;
}
#tbl_showAsignaciones tr td:nth-child(1) i{
    font-size: 25px;
    margin-right: 10px;
}
#tbl_showAsignaciones tr:nth-child(5){
    background: #ededed;
}